:root {
  --text-color: white;
  --accent-color: #1c6bff;

  --animation: all 250ms cubic-bezier(0.0, 0.0, 0.2, 1);
}

.view-player .player-controls-container .progress-container.progress-bar-enabled.dragging-progress-bar .handle, .view-player .player-controls-container .progress-container.progress-bar-enabled .handle {
  transition: var(--animation);
}

 .view-player .player-controls-container .progress-container.progress-bar-enabled:hover .progress-bar .inner {
   background-color: var(--accent-color)!important;
   box-shadow: 0px 0px 15px 0px var(--accent-color);
 }

.view-player .player-controls-container .progress-container .progress-bar .inner {
  box-shadow: 0px 0px 15px 0px white;
  transition: var(--animation);
}

.slider.enabled {
  background: var(--accent-color)!important;
}

.glue-page-header__content .glue-page-header__title {
  color: var(--text-color);
}

.tl-row:hover.current .tl-highlight, .tl-row.contextmenu-active.current .tl-highlight {
  color: var(--accent-color)!important;
}

.tl-row.current .tl-cell:not(.tl-number), .tl-row.current .tl-cell a:link, .tl-row.current .tl-highlight {
  color: var(--accent-color)!important;
}

.view-player .extra-controls-container .volumebar-container:hover .inner {
  background-color: var(--accent-color)!important;
}

.button.button-green:hover { filter: saturate(.8); transition: var(--animation); }
.button.button-green {
  background-color: var(--accent-color)!important;
  transition: var(--animation);
}

.tl-sort-asc::after, .tl-sort-desc::after, .view-player .player-controls-container .controls .button-repeat.active, .view-player .player-controls-container .controls .button-shuffle.active, .view-player .player-controls-container .controls .button-thumbs-down.active, .view-player .player-controls-container .controls .button-thumbs-up.active {
  color: var(--accent-color)!important;
}

.nav > li.active > a::after, .SidebarListItem--is-active:after,.RootlistItem--is-active:before, .view-player .player-controls-container .button-repeat.active:after, .view-player .player-controls-container .button-shuffle.active:after {
  background-color: var(--accent-color)!important;
}
