body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#container, #next-reservations-container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

#current-time {
    font-size: 1.2em;
    margin-left: 10px;
}

#main-title, #available-times-title, #reservation-heading, #reservations-title, #history-title, #next-reservations-title {
    text-align: center;
    color: #333;
}

#history-title, #next-reservations-title {
    cursor: pointer;
}

#reservation-form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

#customer-name-label, #barber-label, #time-label, #auto-delete-label, #auto-delete-time-label, #customer-name, #barber, #time, #reserve-button {
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
}

#reserve-button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

#reserve-button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}

.hidden {
    display: none;
}

#next-reservations-list > div {
    margin-bottom: 20px;
}

#next-reservations-list h3 {
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: white;
}
