body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

#current-time {
    font-size: 1.2em;
    margin-left: 10px;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

label, input, select, button {
    margin: 5px 0;
    padding: 10px;
    font-size: 1em;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
}
