@import url('https://fonts.googleapis.com/css?family=Jockey+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

:root {
	--accent-color: #9578ff;
	--text-color: black;

	--animation: all 250ms cubic-bezier(0.0, 0.0, 0.2, 1);

	--shadow:	0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	--shadow-hover:	0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

body {
    background-color: black;
    color: white;
    font-family: 'Quantico', sans-serif;
    margin: 0px; padding: 0px;
    animation: page .5s 1;
}

a:link, a:visited {
    text-decoration: none;
    color: var(--accent-color);
}

a:hover{
    text-decoration: none;
    color: var(--accent-color);
		filter:brightness(1.3);
}

#ip{
  padding: 0; margin: 0;
  margin-bottom: 10px;
  margin-top: 5px;
}

#p {
  padding: 0; margin: 0;
  color: #555;
  margin-left: 25px;
}

#links  {
  margin-left: 10px;
  margin-bottom: 5px;
  background-color: #040404;
  border: solid 2px #111;
  padding: 2px 5px 2px 5px;
  margin-top: 5px;
  display: table;
  border-radius: 10px;
}

#links:hover {
  transform: scale(1.03);
  border-color: var(--accent-color);
}

#theme-inhalt {
	justify-content: center;
	display: block;
	text-align: center;
}

#liste-mine {
  line-height: 1.5;
  background-color: #080808;
  border-radius: 8px;
  padding: 10px;
  margin: 30px;
  border: 2px solid #111;
}

#liste-theme {
	justify-content: center;
	display: flex;
}

#minecraftbild {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  filter: grayscale(1) invert(1);
}

#tenebrislogo {
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
	background-color: var(--accent-color);
	border-radius: 50%;
}

#tenebris-titel {
	color: var(--accent-color);
}

#dionslogo {
  width: 80px;
	height: 80px;
  margin: 10px;
  filter: grayscale(1) invert(1);
	border-radius: 50%;
}

#theme-vorschau {
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.titelcontainer {
  background-color: #080808;
  border-radius: 0px;
  text-align: center;
  min-height: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.linktab-tudorstinkt {
  display: grid;
  line-height: 2;
  font-size: 30px;
  overflow: hidden;
	justify-content: center;
	text-align: center;
}

#home {
position: absolute;
top: 35px;
left: 20px;
}

#list-titel {
}

#titel-h319a {
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 5px;
  font-family: 'Jockey One', sans-serif;
}

.minecrafttab {
  text-align: left;
}

/* Animations */

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

@keyframes page{
  0%{
    opacity:0;
    transform:translateY(3rem);
  }
  100%{
    opacity:1;
    transform:translateY(0px);
  }
}
