@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/all.css');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/fontawesome.css');
@import url('https://use.fontawesome.com/releases/v5.15.3/css/brands.css');

:root {
    --accent-color: #ff002b;
}

body { 
    background-color:black!important;
    font-family: 'Titillium Web', sans-serif;
 }

.badge {
    background-color: var(--accent-color);
    color: white;
}

.disable-hover {
    pointer-events: none;
}

.list-group-item {
    background-color: #080808;
    border-color: black;
}

p, .h5, h5 {
    color: white;
}

.repologo {
    text-align: center;
    border-radius: 50px;
}

.link-item {
    list-style-type: none;
    padding: 17px 15px;
    display: block;
    color: var(--accent-color) !important;
    text-align: left;
    background-color: #080808;
}

.link-item:hover {
    border: 1px solid var(--accent-color);
    background-color: #111111!important;
}

html.can-touch .link-item:hover{ /* disable hover effect when input is touch */
    background-color: #111111;
}

html.can-touch .link-item:active{ /* disable hover effect when input is touch */
    background-color: #111111;
}

.fa {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 10px;
}

.container .jumbotron, .container-fluid .jumbotron {
    background-color: #080808;
    color: white;
}

/* alerts */

.alert-danger {
    background-color: #af3939;
    color: white;
    border-color: #080808;
}