/**
 * @name Flatty
 * @author Dion#0303
 * @version 0.0.1
 * @description Flatty
 * @website https://cdionn.github.io/discordtheme.html
*/
/*
///////////////////////////////////////

 Made by Dion#0303

///////////////////////////////////////

*/

@import url(https://cdionn.github.io/themes/Snippets/statuses.css);
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;300;500;700&display=swap');

:root {
    --accent-color: #d64d4d;;
    --accent-color2: #d64d4d2c;
    --text-color: white;
	--shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px 0px;
    --shadowa: rgba(0, 0, 0, 0.3) 0px 2px 10px 0px;
	--borderr: 8px;

    --online: #4dd688;
    --idle: #d66f4d;
    --dnd: #d64d4d;
    --offline: gray;

	--bd-blue: var(--accent-color);
    --bd-blue-hover: var(--accent-color2);
    --bd-blue-active: var(--accent-color);
    --blurple: var(--accent-color);

    --ease: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
    --deease: all 250ms cubic-bezier(0.0, 0.0, 0.2, 1);
    --ripple: all 1s cubic-bezier(0.4, 0.0, 0.2, 1);

}

.theme-dark {
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: var(--accent-color);
    --channels-default: #afafaf;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #ffffff44;
    --interactive-active: #fff;
    --interactive-muted: #5e5e5e;
    --background-primary: #1f1f1f;
    --background-secondary: #1e1e1e;
    --background-secondary-alt: #2a2a2a;
    --background-tab: #101010;
    --background-tab-selected: #080808;
    --background-tertiary: black;
    --background-accent: #4f545c;
    --background-floating: #121212;
    --background-modifier-selected: #ffffff15;
    --background-modifier-hover: #ffffff05;
    --background-modifier-active: #ffffff10;
    --searchbar: #080808;
    --scrollbar-thin-thumb: #ffffff0c;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #ffffff0c;
    --scrollbar-auto-track: #ffffff05;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
}

body, div, span, textarea, ::-webkit-input-placeholder {
    font-family: 'Roboto Condensed', sans-serif;
}

.hljs,
.inline,
.hljs :-webkit-any(ol, li, span),
.editor-wrapper :-webkit-any(textarea, div, span) {
 /**
  * Keep Custom CSS editor and code related parts untouched.
  * Avoids issues when working with the Custom CSS editor.
  */
 font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

.content-1x5b-n {
    transition: var(--ease);
}

.outer-1AjyKL {
    background-color: var(--background-floating);
}

.theme-dark .inset-3sAvek {
    background-color: var(--background-tab);
}

.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: #151515;
}

.emptyCard-1RJw8n { 
    background-color: var(--accent-color2);
    border: solid 1px var(--accent-color);
}

.item-3HknzM { transition: var(--ease); }

.item-3HknzM[aria-controls="ADD_FRIEND-tab"]:hover { filter:brightness(1.2) }
.item-3HknzM[aria-controls="ADD_FRIEND-tab"]{
    background-color: var(--accent-color)!important;
}
.item-3HknzM[aria-selected="true"][aria-controls="ADD_FRIEND-tab"] { background-color:#1f1f1f!important; color: var(--accent-color)!important; }

.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: #1f1f1f;
    color: var(--accent-color);
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    background-color: var(--accent-color)!important;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9:hover {
    color: var(--text-color);
}

.theme-dark .children-19S4PO:after{background: none;}
.container-1r6BKw.themed-ANHk51 {
    background-color: var(--background-floating);
}

.expandedFolderBackground-2sPsd- {
    background-color: var(--background-secondary);
}

.expandedFolderIconWrapper-1xLaU- {
    background-color: var(--background-secondary-alt)!important;
}

.wrapper-2aW0bm {
    background-color: var(--background-floating);
}

.live-vBWnV6 {
    background-color: var(--accent-color)!important;
    color: var(--text-color);
}

.theme-dark .actionButton-VzECiy {
    border-color: #656565;
}

.container-3XJ8ns {
    background-color: #090909;
    box-shadow: var(--shadow);
    border: none;
}

.role-2irmRk {
    border-width: 2px;
}

.offline-3nJYBR {
    transition: var(--ease);
}

.emojiItem-14v6tW.emojiItemSelected-1aLkfV {
    background-color: #ffffff15;
}

.theme-dark .popout-38lTFE {
    background-color: var(--background-floating);
}

.theme-dark .enabled-1t_Gxm:hover, .theme-dark .memberListItem-31QoHj:not(.popoutDisabled-2RK7MF):hover {
    background-color: var(--background-modifier-hover);
}

.avatarWrapperNormal-3wFMbf, .da-avatar { box-shadow: var(--shadow); border-radius: 50px; }
.da-message, .da-itemCard, .da-buttons, .da-button, .da-avatar, .da-role, .da-roleColor, .da-actionIcon, .da-mainContent, .da-searchBar, .da-emojiItem, .da-gameNameInput, .da-item, .da-option, .da-listRow, .da-peopleListItem, .da-actionButton, .da-memberListItem, .da-wrapper[role="listitem"] {
    transition: var(--ease);
}

.disabled-3I9jyo, .textarea-2r0oV8, .name-23GUGE, .container-2ax-kl {
    transition: var(--ease);
}

.actionButton-uPB8Fs.highlight-Lf97TE {
    background-color: var(--background-tab);
}

img[src*="aba3ec7874f7f01fe9a8275a3e5c21a0.svg"] {
    filter: grayscale(1);
}

.css-gvi9bl-control:hover { background-color: #151515; }
.css-gvi9bl-control {
    background-color: var(--background-tab);
    box-shadow: var(--shadow);
    border-color: transparent!important;
    transition: var(--ease);
}
.css-6fzn47-control:hover { background-color: #151515; }
.css-6fzn47-control {
    background-color: #151515;
    box-shadow: var(--shadow);
    border-color: transparent!important;
    transition: var(--ease);
}
.css-3vaxre-menu {
    background-color: #151515;
    box-shadow: var(--shadow);
    border-color: transparent!important;
    transition: var(--ease);
}
.css-17e1tep-control:hover { background-color: var(--background-tab); }
.css-17e1tep-control {
    background-color: var(--background-tab);
    box-shadow: var(--shadow);
    border-color: transparent!important;
    transition: var(--ease);
}

.css-1yz4bi9-option, .css-rzbxvl-option, .css-1ba14n5-option {
    transition: var(--ease);
}

path[fill="#7289da"] {
    fill: var(--accent-color)!important;
}

.markup-2BOw-j code {
    background-color: var(--background-tab);
}

.theme-dark .streamPreview-2-WUWT {
    background-color: var(--background-floating);
}

.navButtonActive-1MkytQ {
    background-color: var(--accent-color);
}

.icon-1DeIlz {
    color: var(--channels-default);
}

.container-2XeR5Z {
    background-color: var(--searchbar);
}

.container-cMG81i {
    background-color: var(--searchbar);
}

.theme-dark .emptyHintCard-2mUdMe {
    background-color: var(--background-tab-selected);
}

.theme-dark .placeholder-1kJjXI, .result-3w1ZcL {
    background-color: var(--background-tab-selected)!important;
}

.theme-dark .categoryFadeBlurple-1j72_A:hover, .theme-light .categoryFadeBlurple-1j72_A:hover { background-color: var(--accent-color2); }
.theme-dark .focused-1En8bG:after, .theme-dark .result-3w1ZcL:hover:after {
    box-shadow: inset 0 0 0 2px var(--accent-color), inset 0 0 0 3px var(--accent-color2);
}

.theme-dark .focused-1En8bG, .theme-dark .result-3w1ZcL:hover {
    box-shadow: var(--shadow);
}

.inspector-S2gM3e { background-color: var(--background-tab); }
.contentWrapper-SvZHNd, .wrapper-2Gsate, .wrapper-1-Fsb8 {
    background-color: var(--background-floating);
}

.channelTextArea-rNsIhG:focus-within { box-shadow: var(--shadowa); }
.channelTextArea-rNsIhG {
	border-radius: var(--borderr);
	background-color: var(--background-floating);
    box-shadow: var(--shadow);
    transition: var(--ease);
}

.theme-dark .container-1D34oG {
    background-color: var(--background-primary);
}

.scrollableContainer-2NUZem {
    background-color: transparent;
}

path[d="M20 7H12L10.553 5.106C10.214 4.428 9.521 4 8.764 4H3C2.447 4 2 4.447 2 5V19C2 20.104 2.895 21 4 21H20C21.104 21 22 20.104 22 19V9C22 7.896 21.104 7 20 7Z"] {
    color: var(--accent-color)!important;
}

.circleIconButton-jET_ig {
    background-color: var(--background-secondary);
    color: var(--accent-color);
}

.folderIconWrapper-226oVY {
    background-color: var(--background-secondary)!important;
}

.scroller-2TZvBN {
    background-color: var(--background-floating);
}

.container-3w7J-x {
    background-color: var(--background-secondary);
}

.panels-j1Uci_ {
    background-color: var(--background-secondary);
}

.attachment-33OFj0 {
    background-color: var(--background-floating);
    border-radius: var(--borderr);
    box-shadow: var(--shadow);
    border: none;
}

.grid-1nZz7S {
    background-color: var(--background-floating);
    border-radius: var(--borderr);
    box-shadow: var(--shadow);
    border: none;
    border-radius: 0px var(--borderr) var(--borderr) 0px;
}

.clickable-25tGDB .header-2V-4Sw:hover, .selected-31Nl7x .header-2V-4Sw { background-color: var(--background-tab) }
.clickable-25tGDB .header-2V-4Sw:hover { background-color: var(--background-tab) }
.container-1giJp5, .activityPanel-28dQGo{border-bottom: none;}
.container-3baos1, .container-1giJp5, .panel-24C3ux, .header-2V-4Sw {
    background-color: var(--background-floating);
    margin: 10px;
    border-radius: var(--borderr);
    box-shadow: var(--shadow);
}

.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp:hover, .button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp:hover{ background-color: var(--accent-color); }
.button-1YfofB.buttonColor-7qQbGO.buttonActive-3FrkXp, .button-1YfofB .buttonColor-7qQbGO.buttonActive-3FrkXp, .lookFilled-1Gx00P.colorBrand-3pXr91:active {
    background-color: #1f1f1f;  
}

.button-1YfofB.buttonColor-7qQbGO, .button-1YfofB .buttonColor-7qQbGO {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 1px;
    box-shadow: var(--shadow);
}

.platform-win .sidebar-2K8pFh {
    border-radius: 0px;
}

.title-eS5yk3 {
    text-transform: uppercase;
}

.theme-dark .codeRedemptionRedirect-1wVR4b {
    background-color: var(--accent-color2);
    border: 1px solid var(--accent-color);
}

.theme-dark .defaultIndicator-G3c16x {
    background-color: var(--background-floating);
}

.avatarSpeaking-2IGMRN {
    -webkit-box-shadow: inset 0 0 0 2px var(--accent-color),inset 0 0 0 3px var(--background-secondary);
    box-shadow: inset 0 0 0 2px var(--accent-color),inset 0 0 0 3px var(--background-secondary);
}

.listDefault-3ir5aS .avatarContainer-28iYmV {
    transition: var(--ease);
}

.da-emptyChannelIcon {
    background-color: var(--background-floating);
}

.operations-36ENbA>a {
    color: var(--accent-color);
}

.icon-2IuuZd, .username-3KYl0N {
    transition: var(--ease);
}

.botTagRegular-2HEhHi {
    background-color: var(--background-floating);
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
    border-color: var(--accent-color);
}

.reaction-1hd86g.reactionMe-wv5HKu {
    background-color: var(--accent-color2);
}

.theme-dark .headerNormal-T_seeN, .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: var(--background-floating);
}

.reactionMe-wv5HKu .reactionCount-2mvXRV, .reactionMe-wv5HKu:hover .reactionCount-2mvXRV {
    color: var(--accent-color);
}

.theme-dark .autocomplete-1vrmpx {
    background-color: var(--background-floating);
}

.userPopout-3XzG_A {
    box-shadow: var(--shadow);
    border-radius: var(--borderr);
}

.mentioned-xhSam7:hover { opacity: .8; }
.mentioned-xhSam7{background-color: var(--accent-color2)!important; transition: var(--ease); }
.mentioned-xhSam7:before {
    background-color: var(--accent-color);
}

.wrapper-3WhCwL:hover { opacity: .8; }
.wrapper-3WhCwL {
    background-color: var(--accent-color2)!important;
    color: var(--accent-color)!important;
    transition: var(--ease);
}

.textarea-2r0oV8:focus {
    background-color: #1f1f1f;
}

.iconBadge-2wi9r4.participating-NBGDkr {
    background-color: var(--accent-color);
}

.rtcConnectionStatusConnected-VRZDjy, .rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3 {
    color: var(--accent-color);
}

.container-2fRDfG {
    background-color: var(--background-floating);
}

.colorBrand-2tjs5J, .colorBrand-ROmMP1, .colorPremium-p4p7qO .icon-LYJorE {
    color: var(--accent-color);
}

.icon-1kp3fr {
    filter: grayscale(1)
}

.circleIconButton-jET_ig.selected-ugP_am {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.theme-dark .container-3ayLPN {
    background-color: var(--background-floating);
    box-shadow: var(--shadow);
}

.theme-dark .option-96V44q:after {
    background: none;
}

.topSectionNormal-2-vo2m {
    background-color: var(--background-floating);
}

.body-3ND3kc {
    background-color: var(--background-floating);
}

.headerPlaying-j0WQBV, .headerSpotify-zpWxgT {
    background-color: var(--background-floating);
    padding-bottom: 10px;
}

.topSectionSpotify-1lI0-P {
    background-color: var(--background-floating);
    padding-bottom: 10px;
}

.activity-11LB_k, .activityProfile-2bJRaP {
    background-color: var(--background-secondary);
    margin: 0 10px 0 10px;
    border-radius: var(--borderr);
    box-shadow: var(--shadow);
}

.theme-dark .categoryFadeBlurple-1j72_A, .theme-light .categoryFadeBlurple-1j72_A {
    background-color: var(--accent-color2);
}

.wanderingCubesItem-WPXqao {
    background-color: var(--accent-color);
}

.theme-dark .progress-1IcQ3A, .theme-dark .bar-2Qqk5Z {
    background-color: var(--background-tab);
}

.barFill-23-gu-[style*="background: rgb(251, 184, 72);"] {
    background-color: var(--accent-color)!important;
}

.theme-dark .bar-2Qqk5Z[style*="background: rgb(105, 196, 154);"] {
    background-color: var(--accent-color2)!important;
}

.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC {
    background-color: var(--background-floating);
    border-color: transparent;
}

.userSettingsVoice-iwdUCU .inputSensitivityToggle-2LKb8o.manual-36Evg9 .microphone-2rtdHw .fill-3eUagR {
    background-color: var(--accent-color);
    filter: brightness(1.5);
}

.cozy-3raOZG .repliedMessage-VokQwo:before {
    border-color: white;
}

.userSettingsVoice-iwdUCU .inputSensitivityToggle-2LKb8o .sliderBar-3DezvM {
    background-color: var(--accent-color);
}

.theme-dark .notches-1sAcEM.gray-3_LNYR {
    filter: grayscale(1) brightness(0.7);
}

.mediaBarGrabber-1FqnbN, .mediaBarProgress-1xaPtl, .mediaBarProgress-1xaPtl:after, .mediaBarProgress-1xaPtl:before, .mediaBarInteraction-37i2O4:hover .mediaBarGrabber-1FqnbN {
    background-color: var(--accent-color);
}

.newMessagesBar-265mhP {
    background-color: var(--background-tab-selected);
}

.layout-2DM8Md {
    transition: var(--ease);
}

span {
    transition: var(--ease);
}

.radioIconForeground-XwlXQN {
    color: var(--accent-color);
}

path[fill="rgb(118,134,177)"]{
    fill: var(--accent-color);
}

.theme-dark .root-1gCeng, .theme-dark .footer-2gL1pp {
    background-color: var(--background-floating);
}

.theme-dark .premiumIndicator-1XvbfM {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.theme-dark .paymentPane-3bwJ6A {
    background-color: var(--background-tab-selected);;
}

.theme-dark .paginator-166-09,.theme-dark .bottomDivider-1K9Gao {
    background-color: var(--background-tab);
}

.theme-dark .expandedInfo-3kfShd {
    background-color: var(--background-tab-selected);
}

.theme-dark .bottomDivider-1K9Gao {
    border-bottom-color: #151515;
}

.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) {
    background-color: var(--accent-color);
    color: var(--text-color);
    filter: brightness(1.2);
}

.colorDefault-2K3EoJ {
    transition: var(--ease);
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: var(--accent-color);
    color: var(--text-color);
}

.base-1pYU8j {
    transition: var(--ease);
}

.side-8zPYf6 .item-PXvHYJ {transition: var(--ease);}
.side-8zPYf6 .item-PXvHYJ[aria-controls="Discord Nitro-tab"] {
    color: var(--accent-color)!important;
}

.side-8zPYf6 .item-PXvHYJ[aria-controls="Discord Nitro-tab"] {
    color: var(--accent-color)!important;
}

.side-8zPYf6 .item-PXvHYJ[aria-selected="true"][aria-controls="Discord Nitro-tab"] {
    color: var(--accent-color)!important;
    background-color: var(--background-modifier-selected)!important;
}

.side-8zPYf6 .item-PXvHYJ[aria-controls="Discord Nitro-tab"]:hover {
    background-color: var(--background-modifier-hover)!important;
}

.connectionHeader-2MDqhu {
    background-color: var(--background-tab-selected);
    box-shadow: var(--shadow);
}

.connection-1fbD7X {
    background-color: var(--background-tab);
    box-shadow: var(--shadow);
}

.searchBar-3dMhjb {
    background-color: var(--searchbar);
}

.attachButtonPlay-3iJ0mf {
    color: var(--accent-color);
}

.attachButtonPlus-jWVFah {
    transition: var(--ease);
}

.hovered-d5PMVU {
    font-family: 'JetBrains Mono', monospace;
}

.border-3dQmSY.speaking-WDn8Wm {
    -webkit-box-shadow: inset 0 0 0 2px var(--accent-color), inset 0 0 0 3px #000;
    box-shadow: inset 0 0 0 2px var(--accent-color), inset 0 0 0 3px var(--accent-color2);    
}

.overlayTitleText-2mmQzi {
    text-transform: uppercase;
    font-weight: bold;
}

.defaultValue-3gC7yw .markValue-2DwdXI {
    color: var(--accent-color);
}

.theme-dark .uploadModal-2ifh8j, .theme-dark .footer-3mqk7D {
    background-color: var(--background-floating);;
}

.theme-dark .footer-3mqk7D {
    box-shadow: none;
}

.emojiSection-3Fb9ix, .guildSection-1EoFKd {
    background-color: var(--background-floating);
}

.icon-22AiRD {
    color: var(--text-normal);
}

.checkbox-1ix_J3[style*="background-color: rgb(114, 137, 218);"] {
    background-color: var(--accent-color)!important;
    border-color: var(--accent-color2)!important;
}

.tabBarContainer-1s1u-z {
    border: none;
}

.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf{
    background-color: #090909;
    padding: 5px;
    border-radius: var(--borderr);
    box-shadow: var(--shadow);
}

.theme-dark .checkbox-1ix_J3[style*="border-color: rgb(114, 137, 218);"] {
    border-color: var(--accent-color)!important;
}

.barFill-23-gu- {
    background: var(--accent-color);
}

.barInner-3NDaY_ { background-color: var(--accent-color); box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.459); }

.replying-1x3H0T:before { background-color: var(--accent-color); }
.replying-1x3H0T:hover { opacity: 0.8; }
.replying-1x3H0T {
    background-color: var(--accent-color2)!important;
    transition: var(--ease);
}

.item-26Dhrx{transition: var(--ease); background-color: var(--background-tab)}
.item-26Dhrx[aria-checked=true] {
    background-color: var(--background-tab-selected);
}

.background-1QDuV2:hover { box-shadow: var(--shadowa); }
.background-1QDuV2 {
    background-color: var(--background-floating);
    box-shadow: var(--shadow);
    transition: var(--ease);
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ, .colorDefault-2K3EoJ .radioSelection-1HmrQS {
    color: var(--accent-color);
}

.warning-3C2pOH .icon-1jlFSw {color: var(--accent-color);}
.warning-3C2pOH {
    background-color: var(--accent-color2);
    border-color: var(--accent-color);
}

.theme-dark .gameNameInput-385LoS:focus, .theme-dark .gameNameInput-385LoS:hover {
    background-color: var(--background-tab);
}

.theme-dark .notDetected-33MY4s, .theme-light .notDetected-33MY4s {
    background-color: var(--accent-color2); 
    border-radius: var(--borderr);
    border: solid 1px var(--accent-color);
}

.theme-dark .card-FDVird:before {
    background-color: var(--background-modifier-hover);
    border-color: var(--background-modifier-hover);
}

.cardPrimary-1Hv-to {
    background-color: var(--accent-color2);
    border-color: var(--accent-color);
    border-radius: var(--borderr);
}

.cardPrimaryOutline-29Ujqw {
    background-color: var(--background-tab);
    border-color: var(--background-tab-selected);
    border-radius: var(--borderr);
}

.theme-dark .default-3oAQTF {
    background-color: var(--background-tab-selected);
}

.option-n0icdO { background-color: var(--background-tab); }
.option-n0icdO:hover { background-color: var(--accent-color2); }
.selected-mKYnfr.option-n0icdO {
    background-color: var(--accent-color);
}

.disabledIcon-9QatvX path[d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.42 0-8-3.58-8-8 0-1.85.63-3.55 1.69-4.9L16.9 18.31C15.55 19.37 13.85 20 12 20zm6.31-3.1L7.1 5.69C8.45 4.63 10.15 4 12 4c4.42 0 8 3.58 8 8 0 1.85-.63 3.55-1.69 4.9z"] {
    fill: var(--accent-color)!important;
}

.wrapper-3jrx9n {
    border-color: var(--accent-color);
}

.container-3auIfb{
    background-color: var(--accent-color)!important;
    transition: var(--ease);
}

.container-3auIfb[style*="background-color: rgb(114"] {
    background-color: var(--background-tab-selected)!important;
}

.slider-TkfMQL path[fill*="rgba"]{
    fill: var(--accent-color)!important;
}

.slider-TkfMQL path[fill*="rgba(114"]{
    fill: var(--background-tab-selected)!important;
}

.icon-4lJsMQ {
    filter: grayscale(1)
}

.tile-2w4k5N:hover .sourceThumbnail-27dolk {
    -webkit-box-shadow: inset 0 0 0 2px var(--accent-color);
    box-shadow: inset 0 0 0 2px var(--accent-color);
}

.theme-dark .art-1qgogX {
    filter: grayscale(1);
}

/* Buttons */


.da-button {
    border-radius: var(--borderr);
    transition: var(--ease);
}

.lookFilled-1Gx00P:hover { box-shadow: var(--shadowa); }
.lookFilled-1Gx00P {
    box-shadow: var(--shadow);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover, .lookFilled-1Gx00P.colorGreen-29iAKY:hover { filter:brightness(1.2); background-color: var(--accent-color); color: var(--text-color); box-shadow: var(--shadowa); }
.lookFilled-1Gx00P.colorBrand-3pXr91, .lookFilled-1Gx00P.colorGreen-29iAKY {
    background-color: var(--accent-color);
    color: var(--text-color);
    transition: var(--ease);
}

.lookFilled-1Gx00P.colorGrey-2DXtkV:hover { background-color: #090909; box-shadow: var(--shadowa); color: var(--accent-color); }
.lookFilled-1Gx00P.colorGrey-2DXtkV {
    color: #fff;
    background-color: var(--background-tab-selected);
}

.lookOutlined-3sRXeN.colorBrand-3pXr91, .lookOutlined-3sRXeN.colorRed-1TFJan {
    border-color: var(--accent-color);
    color: var(--accent-color);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:disabled { background-color: var(--accent-color); filter:grayscale(.2); }

.lookLink-9FtZy-.colorBrand-3pXr91 { color: var(--accent-color); }

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover { background-color: #090909; box-shadow: var(--shadowa); color: var(--accent-color); }
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    background-color: var(--background-tab-selected);
}

.theme-dark .hoverablePayment-Yc6mK7:hover {
    background-color: var(--background-modifier-hover);
}

.ui-tab-bar-item {
    transition: var(--ease);
}

.bd-switch-checked {
    background-color: var(--accent-color)!important;
}

.bd-switch {
    background-color: var(--background-tab-selected);
}

.theme-dark .bd-addon-list .bd-addon-card {
    background-color: var(--background-floating);
}

.bd-select .bd-select-options {
    background-color: var(--background-tab);
}

.bd-select .bd-select-option:hover, .bd-select .bd-select-option.selected {
    background: var(--background-modifier-active);
}

.bd-button, .bd-label, .bd-pfbtn, .bd-select .bd-select-option {
    transition: var(--ease);
}

.bd-search-wrapper {
    background-color: var(--searchbar);
}

.checkbox-3kaeSU .checkboxInner-3yjcPe .checkboxElement-1qV33p:checked+span {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.ace_editor {
    background: var(--background-floating);
}

.ace-monokai .ace_gutter {
    background: var(--background-primary-alt);
    color: #8F908A;
}

.contentRegion-3nDuYy #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls {
    background: var(--background-secondary-alt);
    color: #FFF;
    border: none;
    box-shadow: 0px 1px 0px 0px var(--shadow) inset;
}