.da-contents img[src*="https://cdn.discordapp.com/avatars/165109370470924288"] {
  background: url("https://i.redd.it/y5d0o1szhb931.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
 padding-left: 40px;
 background-size: cover;
}

.contents-2mQqc9 img[src*="https://cdn.discordapp.com/avatars/165109370470924288"] {
  background: url("https://i.redd.it/y5d0o1szhb931.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
 padding-left: 40px;
 background-size: cover;
}


.avatarWrapperNormal-3wFMbf img[src*="https://cdn.discordapp.com/avatars/165109370470924288"] {
  background: url("https://i.redd.it/y5d0o1szhb931.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
 padding-left: 80px;
 background-size: cover;
}

.wrapper-3t9DeA[style="width: 32px; height: 32px;"] > svg > foreignObject img[src*="https://cdn.discordapp.com/avatars/165109370470924288"] {
  background: url("https://i.redd.it/y5d0o1szhb931.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
 padding-left: 32px;
 background-size: cover;
}

.avatar-3EQepX[style="width: 80px; height: 80px;"] > svg > foreignObject img[src*="https://cdn.discordapp.com/avatars/165109370470924288"] {
  background: url("https://i.redd.it/y5d0o1szhb931.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
 padding-left: 80px;
 background-size: cover;
}

.wrapper-3t9DeA[style="width: 100px; height: 100px;"] > svg > foreignObject img[src*="https://cdn.discordapp.com/avatars/165109370470924288"] {
  background: url("https://i.redd.it/y5d0o1szhb931.jpg");
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
 padding-left: 100px;
 background-size: cover;
}

.avatarContainer-2inGBK[style*="https://cdn.discordapp.com/avatars/165109370470924288"]
{
  background-image: url("https://i.redd.it/y5d0o1szhb931.jpg")!important;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background-size: cover;
}

.avatarSmall-2CW6I1[style*="https://cdn.discordapp.com/avatars/165109370470924288"]
{
  background-image: url("https://i.redd.it/y5d0o1szhb931.jpg")!important;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  padding-left: 24px;
  background-size: cover;
}

.avatarUploaderInner-3Mrx2N[style*="https://cdn.discordapp.com/avatars/165109370470924288"] {
  background-image: url("https://i.redd.it/y5d0o1szhb931.jpg")!important;
  box-sizing: border-box;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  padding-left: 100px;
  background-size: cover;
}
