/* For fuck sake....  */

/* Danish  */

.button-14-BFJ[aria-label="Gør stum"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Gør døv"] {
  background-color: rgb(32, 117, 236)!important
}

/* Germany  */

.button-14-BFJ[aria-label="Stummschalten"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Ein- und Ausgabe deaktivieren"] {
  background-color: rgb(32, 117, 236)!important
}

/* US - UK  */

.button-14-BFJ[aria-label="Mute"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Deafen"] {
  background-color: rgb(32, 117, 236)!important
}

/* Spain  */

.button-14-BFJ[aria-label="Silenciar"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Ensordecer"] {
  background-color: rgb(32, 117, 236)!important
}

/* France  */

.button-14-BFJ[aria-label="Rendre muet"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Mettre en sourdine"] {
  background-color: rgb(32, 117, 236)!important
}

/* Croatia  */

.button-14-BFJ[aria-label="Isključi mikrofon"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Isključi zvuk"] {
  background-color: rgb(32, 117, 236)!important
}

/* Italia  */

.button-14-BFJ[aria-label="Silenzia"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Silenzia l'audio"] {
  background-color: rgb(32, 117, 236)!important
}

/* Lithuania  */

.button-14-BFJ[aria-label="Nutildyti"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Išjungti garsą"] {
  background-color: rgb(32, 117, 236)!important
}

/* Hungary  */

.button-14-BFJ[aria-label="Némítás"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Süketítés"] {
  background-color: rgb(32, 117, 236)!important
}

/* Netherlands  */

.button-14-BFJ[aria-label="Dempen"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Hoorbaar maken"] {
  background-color: rgb(32, 117, 236)!important
}

/* Norway  */

.button-14-BFJ[aria-label="Demp"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Slå av lyd"] {
  background-color: rgb(32, 117, 236)!important
}

/* Polish  */

.button-14-BFJ[aria-label="Wycisz"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Wyłącz dźwięk"] {
  background-color: rgb(32, 117, 236)!important
}

/* Brazil  */

.button-14-BFJ[aria-label="Desativar microfone"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Desativar áudio"] {
  background-color: rgb(32, 117, 236)!important
}

/* Romania  */

.button-14-BFJ[aria-label="Dezactivează microfonul"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Dezactivează sunetul"] {
  background-color: rgb(32, 117, 236)!important
}

/* Finnish  */

.button-14-BFJ[aria-label="Mykistä"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Hiljennä"] {
  background-color: rgb(32, 117, 236)!important
}

/* Sweden  */

.button-14-BFJ[aria-label="Mikrofon av"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Ljud av"] {
  background-color: rgb(32, 117, 236)!important
}

/* Vietnam  */

.button-14-BFJ[aria-label="Tắt âm"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Tắt tiếng"] {
  background-color: rgb(32, 117, 236)!important
}

/* Vietnam  */

.button-14-BFJ[aria-label="Tắt âm"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Tắt tiếng"] {
  background-color: rgb(32, 117, 236)!important
}

/* Turkey  */

.button-14-BFJ[aria-label="Sustur"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Sağırlaştır"] {
  background-color: rgb(32, 117, 236)!important
}

/* Czech  */

.button-14-BFJ[aria-label="Ztlumit mikrofon"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Ztlumit zvuk"] {
  background-color: rgb(32, 117, 236)!important
}

/* Greece  */

.button-14-BFJ[aria-label="Σίγαση"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Κώφωση"] {
  background-color: rgb(32, 117, 236)!important
}

/* Bulgaria  */

.button-14-BFJ[aria-label="Изкл. на микрофона"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Заглушаване"] {
  background-color: rgb(32, 117, 236)!important
}

/* Russia  */

.button-14-BFJ[aria-label="Откл. микрофон"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Откл. звук"] {
  background-color: rgb(32, 117, 236)!important
}

/* Ukraine  */

.button-14-BFJ[aria-label="Вимкнути мікрофон"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Вимкнути звук"] {
  background-color: rgb(32, 117, 236)!important
}

/* Thailand  */

.button-14-BFJ[aria-label="ปิดเสียง"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="ปิดการได้ยิน"] {
  background-color: rgb(32, 117, 236)!important
}

/* Chinese  */

.button-14-BFJ[aria-label="麦克风静音"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="耳机静音"] {
  background-color: rgb(32, 117, 236)!important
}

/* Japan  */

.button-14-BFJ[aria-label="ミュート"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="スピーカーミュート"] {
  background-color: rgb(32, 117, 236)!important
}

/* Chinese-Taiwan */

.button-14-BFJ[aria-label="靜音"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="拒聽"] {
  background-color: rgb(32, 117, 236)!important
}

/* Korea */

.button-14-BFJ[aria-label="마이크 음소거 "] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="헤드셋 음소거 "] {
  background-color: rgb(32, 117, 236)!important
}
