/* For fuck sake....  */

/* Dansk  */

.button-14-BFJ[aria-label="Gør stum"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Gør døv"] {
  background-color: rgb(32, 117, 236)!important
}

/* German  */

.button-14-BFJ[aria-label="Stummschalten"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Ein- und Ausgabe deaktivieren"] {
  background-color: rgb(32, 117, 236)!important
}

/* English  */

.button-14-BFJ[aria-label="Mute"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Deafen"] {
  background-color: rgb(32, 117, 236)!important
}

/* Spanish  */

.button-14-BFJ[aria-label="Silenciar"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Ensordecer"] {
  background-color: rgb(32, 117, 236)!important
}

/* French  */

.button-14-BFJ[aria-label="Rendre muet"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Mettre en sourdine"] {
  background-color: rgb(32, 117, 236)!important
}

/* Croatia  */

.button-14-BFJ[aria-label="Isključi mikrofon"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Isključi zvuk"] {
  background-color: rgb(32, 117, 236)!important
}

/* Croatia  */

.button-14-BFJ[aria-label="Silenzia"] {
  background-color: rgb(32, 117, 236)!important
}

.button-14-BFJ[aria-label="Silenzia l'audio"] {
  background-color: rgb(32, 117, 236)!important
}
