/*Status color Snippet*/

/* Online */
rect[fill="#43b581"] {
    fill: var(--online)!important;
}

/* Idle */
rect[fill="#faa61a"] {
    fill: var(--idle)!important;
}

/* DND */
rect[fill="#f04747"] {
    fill: var(--dnd)!important;
}

/* Offline */
rect[fill="#747f8d"] {
    fill: var(--offline)!important;
}

/* User Setting Status */ 

/* Online */
.status-1AY8sU[style="background-color: rgb(67, 181, 129);"] {
    background-color: var(--online)!important;
}

/* Idle */ 
.status-1AY8sU[style="background-color: rgb(250, 166, 26);"] {
    background-color: var(--idle)!important;
}

/* DND */
.status-1AY8sU[style="background-color: rgb(240, 71, 71);"] {
    background-color: var(--dnd)!important;
}

/* Offline */

.status-1AY8sU[style="background-color: rgb(116, 127, 141);"] {
    background-color: var(--offline)!important;
}